<footer class="text-center">
  <div class="container p-4">
    <section>
      <div class="grid-container">
        <a class="grid-item" routerLink="/home" role="button">
          <i class="fas fa-house-chimney"></i>
        </a>
        <a class="grid-item" routerLink="/liked" role="button">
          <!-- <i class="fa-solid fa-fire-flame-curved"></i> -->
          <i class="fa-solid fa-heart"></i>
        </a>
        <a class="grid-item" routerLink="/search" role="button">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
      </div>

    </section>

  </div>
</footer>
